body {
  background-image: linear-gradient(to bottom, rgba(65, 179, 163, 0), rgba(65, 179, 163, 1));
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

body * {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  background-color: #297369;
}

table {
  margin: 12px auto;
}